[submodule "service-discovery"]
	path = service-discovery
	url = git@github.com:ghwn/netflix-clone-service-discovery.git
[submodule "account-service"]
	path = account-service
	url = git@github.com:ghwn/netflix-clone-account-service.git
[submodule "movie-service"]
	path = movie-service
	url = git@github.com:ghwn/netflix-clone-movie-service
[submodule "api-gateway-service"]
	path = api-gateway-service
	url = git@github.com:ghwn/netflix-clone-api-gateway-service
[submodule "config-service"]
	path = config-service
	url = git@github.com:ghwn/netflix-clone-config-service
[submodule "configs"]
	path = configs
	url = git@github.com:ghwn/netflix-clone-configs.git

